<div class="mb-3 float-right">
  <div class="btn-group mr-2">
    <button [hidden]='!isAdmin' type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
      <i class="fa fa-plus"></i>promotion
    </button>
  </div>
</div>
<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Promotions</h1>
    </div>
  </div>
  <div class="col m-3" *ngIf="promos">
    <div class="accordion" id="accordionExample"
      *ngFor="let promo of promos | paginate : {itemsPerPage : 2, currentPage: pagePromo}">
      <div class="card">
        <div class="card-body" id="headingOne">
          <button type="button" class="btn btn-info ml-auto w-auto" style="background-color: green;" (click)="showExcel(promo.id)">
            <i>Excel</i>
          </button>
          <button class="btn btn-block text-left" type="button" [routerLink]="['/alumni',promo.id]">

            <div class="row mb-1 mr-0 custom-border">
              <!--  Details Utilisateur-->

              <div class="col-md-5 custom-border-right mb-1 mt-1 ">
                <div class="col">
                  <div class="row">
                    <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                    <div class="col-md-10 font-weight-bold">{{promo.libelle}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
                    <div class="col-md-10"><strong>date debut :</strong> {{promo.dateDebut}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
                    <div class="col-md-10"><strong>date fin :</strong> {{promo.datefin}}</div>
                  </div>
                </div>
              </div>

              <!--  details Promotion-->
              <div class="col-md-3 custom-border-right mb-1 mt-1 ">
                <div class="col">
                  <div class="row">
                    <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
                    <div class="col-md-10"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
                    <div class="col-md-10"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
                    <div class="col-md-10"></div>
                  </div>
                </div>
              </div>

              <div>
              </div>
            </div>
          </button>
        </div>
        <!-- <div id="collapseOne{{promo.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"
          style="max-height: 300px;
          overflow-y: scroll">
          <div class="card-body">
            <app-alumnis [idPromo]="promo.id"></app-alumnis>
          </div>
        </div> -->
      </div>
    </div>
    <pagination-controls (pageChange)=" pagePromo = $event"></pagination-controls>
  </div>
</div>
<!--nouvelle promotion-->
<!-- <button [hidden]="true" type="button" id="addUserModal" data-toggle="modal" data-target="#editPromotionModal">
  </button> -->
<div class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Nouvelle promotion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form #newPromotionForm="ngForm" (ngSubmit)="onaddNewPromotion(newPromotionForm.value)" >
            <div class="form-group">
              <label for="libelle">libelle</label>
              <input type="text" name="libelle" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="dateDebut">Date debut</label>
              <input type="date" name="dateDebut" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="datefin">Date fin</label>
              <input type="date" name="datefin" required ngModel class="form-control">
            </div>
            <!-- <div class="col">
              <select class="form-control" name="form" [(ngModel)]="idUser">
                <option [value]="null">Selectionner un formateur</option>
                <option *ngFor="let form of Formateurs" [value]="form?.id">{{ form?.prenom }} {{ form?.nom }}</option>
              </select>
            </div> -->
            <div class="input-group mb-2">              
            </div>
            <button type="submit" style="display: none;" id="new-promo-save"></button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-promo-close">Close</button>
        <button type="button" (click)="saveNewPromotion()" [disabled]="newPromotionForm.invalid" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>