<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" /> -->
<div class="container">
    <div class="main-body p-0">
        <div class="">
            <!-- Inner sidebar -->
            <div class="inner-sidebar">
                <!-- Inner sidebar header -->
                <div class="inner-sidebar-header justify-content-center">
                    <button class="btn btn-dark has-icon btn-block" type="button" data-toggle="modal"
                        data-target="#threadModal" [hidden]="!isAdmin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-plus mr-2">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>                        
                    </button>
                </div>
                <!-- /Inner sidebar header -->

                <!-- Inner sidebar body -->
                <div class="inner-sidebar-body p-0">
                    <div class="p-0 h-100" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper"
                                        style="height: 80%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;"
                                            *ngFor="let cate of cateForum | paginate : {itemsPerPage : 8, currentPage: pageCategory, id: 'category'}">
                                            <button class="btn btn-block" type="button" data-toggle="collapse"
                                                [attr.data-target]="'#collapseOne'+cate.id" aria-expanded="true"
                                                aria-controls="collapseOne" (click)="getAllQuizByCatForum(cate.id)">
                                                <p class="nav-link nav-link-faded has-icon"><img *ngIf="cate?.photoUrl"
                                                        class="rounded" height="80" width="80" src="{{cate?.photoUrl}}"
                                                        alt="">
                                                    <strong>{{cate?.libelle}}</strong>
                                                </p>
                                            </button>
                                            <!-- <span *ngIf="isAdmin"><i
                                                class="fa-solid fa-trash-arrow-up ml-2 red-color"
                                                style="color: red;" ></i></span> -->
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div> -->
                        </div>
                        <pagination-controls (pageChange)=" pageCategory = $event" id="category"></pagination-controls>
                        <!-- <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar"
                                style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                        </div> -->
                    </div>
                </div>

                <!-- /Inner sidebar body -->
            </div>
            <!-- /Inner sidebar -->

            <!-- Inner main -->
            <div class="inner-main">
                <!-- Inner main header -->
                <div class="inner-main-header">
                    <!-- <select class="custom-select custom-select-sm w-auto mr-1">
                        <option selected="">Latest</option>
                        <option value="1">Popular</option>
                        <option value="3">Solved</option>
                        <option value="3">Unsolved</option>
                        <option value="3">No Replies Yet</option>
                    </select> -->
                    <button type="button" class="btn btn-dark ml-auto w-auto" data-toggle="modal"
                        data-target="#addUserModal">
                        <i class="fa-solid fa-question"></i>
                    </button>
                    <!-- <span class="input-icon input-icon-sm ml-auto w-auto">
                    <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                </span> -->
                </div>

                <!-- /Inner main header -->

                <!-- Inner main body -->

                <!-- Forum List -->
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <div class="card mb-2"
                        *ngFor="let quiz of quizForum | paginate : {itemsPerPage : 8, currentPage: pageQuiz, id: 'quiz'}"
                        id="collapseOne{{idCat}}">
                        <div class="card-body p-2 p-sm-3">
                            <div class="media forum-item">
                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img
                                        *ngIf="quiz.user.profileImageUrl" src="{{quiz.user?.profileImageUrl}}"
                                        class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                <!-- <small class="d-block text-center text-muted">{{quiz.user?.login}}</small> -->
                                <div class="media-body">
                                    <h6><a href="#" data-toggle="collapse" data-target=".forum-content"
                                            class="text-body"
                                            (click)="getAllResponseByQuiz(quiz.id)">{{quiz.user?.prenom}}
                                            {{quiz.user?.nom}}</a></h6>
                                    <div class="mt-3 font-size-sm">
                                        <p>{{quiz?.description}}</p>
                                    </div>
                                    <div class=" align-items-right rounded" *ngIf="quiz.photoUrl" height="10"
                                        width="100">
                                        <p-image src="{{quiz?.photoUrl}}" alt="Image" width="250" [preview]="true">
                                        </p-image>
                                        <!-- <img class="rounded" height="150" width="300" src="{{quiz?.photoUrl}}" alt=""> -->
                                    </div>
                                    <!-- <p class="text-muted"><a href="">drewdan</a> replied <span
                                            class="text-secondary font-weight-bold">13 minutes ago</span></p> -->
                                </div>
                                <div class="text-muted small text-center align-self-right">
                                    <!-- <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 19</span>
                                    <span><i class="far fa-comment ml-2"></i>3</span> -->
                                    <span *ngIf="quiz.user?.id == user.id" (click)="onEditQuiz(quiz)"><i
                                            class="fas fa-edit ml-2 red-color" style="color: dark;"></i></span>
                                    <span *ngIf="quiz.user?.id == user.id || isAdmin"
                                        (click)="onDeleteQuizForum(quiz.id)"><i
                                            class="fa-solid fa-trash-arrow-up ml-2 red-color"
                                            style="color: red;"></i></span>
                                </div>
                            </div>
                            <br>
                            <button type="button" class="btn btn-dark  float-right" data-toggle="modal"
                                data-target="#replyQuizModal" (click)="onGetQuizId(quiz.id)">
                                <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </div>

                    </div>
                    <pagination-controls (pageChange)=" pageQuiz = $event" id="quiz"></pagination-controls>
                </div>
                <!-- /Forum List -->

                <!-- Forum Detail -->
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content">
                    <a href="#" class="btn btn-light btn-sm mb-3 has-icon" data-toggle="collapse"
                        data-target=".forum-content"><i class="fa fa-arrow-left mr-2"></i>Back</a>
                    <div class="card mb-2"
                        *ngFor="let response of responseForum | paginate : {itemsPerPage : 8, currentPage: pageResponse, id: 'response'}">
                        <div class="card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                    <img src="{{response.user?.profileImageUrl}}" class="rounded-circle" width="50"
                                        alt="User" />
                                    <!-- <small class="d-block text-center text-muted">{{response.user?.login}}</small> -->
                                </a>
                                <div class="media-body ml-3">
                                    <h5 class="text-secondary">{{response.user?.prenom}} {{response.user?.nom}}</h5>
                                    <!-- <small class="text-muted ml-2">1 hour ago</small> -->
                                    <div class="mt-3 font-size-sm">
                                        <p>{{response?.description}}</p>
                                    </div>

                                    <div class="align-items-center rounded" *ngIf="response.photoUrl">
                                        <p-image src="{{response.photoUrl}}" alt="Image" width="250"
                                            [preview]="true"></p-image>
                                        <!-- {{response.user?.profileImageUrl}} -->
                                        <!-- <img class="rounded" height="150" width="300" src="{{response?.photoUrl}}"
                                            alt=""> -->
                                    </div>
                                </div>
                                <div class="text-muted small text-center">
                                    <!-- <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 19</span>
                                    <span><i class="far fa-comment ml-2"></i> 3</span> -->
                                    <span *ngIf="response.user?.id == user.id" (click)="onEditResponse(response)"><i
                                            class="fas fa-edit ml-2 red-color" style="color: dark;"></i></span>
                                    <span *ngIf="response.user?.id == user.id || isAdmin"
                                        (click)="onDeleteResponseForum(response.id)"><i
                                            class="fa-solid fa-trash-arrow-up ml-2 red-color"
                                            style="color: red;"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls (pageChange)=" pageResponse = $event" id="response"></pagination-controls>
                    <!-- /Forum Detail -->

                    <!-- /Inner main body -->
                </div>

                <!-- /Inner main -->
            </div>

            <!-- Nouvelle question -->
            <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form #newCatForum="ngForm" (ngSubmit)="onNewCatForum(newCatForum)">
                            <div class="modal-header d-flex align-items-center bg-dark text-white">
                                <h6 class="modal-title mb-0" id="threadModalLabel">Nouvelle categorie de discussion</h6>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="threadTitle">Titre</label>
                                    <input type="text" class="form-control" id="threadTitle" name="libelle"
                                        placeholder="entrer le title" required ngModel />
                                </div>
                                <!-- <textarea class="form-control summernote" style="display: none;"></textarea> -->
                                <div class="custom-file">
                                    <input type="file" accept="image/*" name="profileImage"
                                        (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0])"
                                        class="custom-file-input">
                                    <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                                        <span [hidden]="fileName">choisir fichier</span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" style="display: none;" id="new-catForum-save"></button>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                id="new-user-close">Cancel</button>
                            <button type="button" (click)="saveNewCatForum()" class="btn btn-dark"
                                [disabled]="newCatForum.invalid || refreshing">
                                <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
                                <span *ngIf="refreshing">Loading...</span>
                                <span *ngIf="!refreshing">save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--posez une question-->
        <div class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Nouvelle question</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form #newQuizForm="ngForm" (ngSubmit)="onAddQuizForum(newQuizForm)">
                                <div class="form-group">
                                    <label for="description">Description de la question</label>
                                    <textarea type="text" name="description" required ngModel
                                        class="form-control"></textarea>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">image question </span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" name="profileImage"
                                            (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0])"
                                            class="custom-file-input">
                                        <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                                            <span [hidden]="fileName">Choisir fichier</span>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" style="display: none;" id="new-quiz-save"></button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            id="new-quiz-close">Fermer</button>
                        <button type="button" (click)="saveNewQuizForm()" [disabled]="newQuizForm.invalid"
                            class="btn btn-dark">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="refreshing">Loading...</span>
                            <span *ngIf="!refreshing">Posez</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--reply question-->
        <div class="modal draggable fade bd-example-modal-lg" id="replyQuizModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Reponse à la question </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form #newResponseForm="ngForm" (ngSubmit)="onAddResponseForum(newResponseForm)">
                                <div class="form-group">
                                    <label for="description">Description de la reponse</label>
                                    <textarea type="text" name="description" required ngModel
                                        class="form-control"></textarea>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">image reponse </span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" name="profileImage"
                                            (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0])"
                                            class="custom-file-input">
                                        <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                                            <span [hidden]="fileName">Choisir fichier</span>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" style="display: none;" id="new-response-save"></button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            id="new-response-close">Fermer</button>
                        <button type="button" (click)="saveNewResponseForm()" [disabled]="newResponseForm.invalid"
                            class="btn btn-dark">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="refreshing">Loading...</span>
                            <span *ngIf="!refreshing">Repondre</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button [hidden]="true" type="button" id="openQuizEdit" data-toggle="modal" data-target="#editQuizModal">
        </button>
        <!--Edit quiz-->
        <div class="modal draggable fade bd-example-modal-lg" id="editQuizModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="">
                            <form #editeQuizForm="ngForm">
                                <div class="form-group">
                                    <label for="description">Description du question</label>
                                    <textarea type="text" name="description" [disabled]="!isAdmin" required
                                        [(ngModel)]="editQuiz.description" class="form-control"></textarea>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">image question </span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" [disabled]="!isAdmin" accept="image/*" name="profileImage"
                                            (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0])"
                                            class="custom-file-input">
                                        <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                                            <span [hidden]="fileName">Choisir fichier</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            id="closeEditQuizModalButton">Fermer</button>
                        <button type="button" (click)="onUpdateQuiz()" [disabled]="editeQuizForm.invalid || !isAdmin "
                            class="btn btn-dark">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="refreshing">Loading...</span>
                            <span *ngIf="!refreshing">Modifier</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button [hidden]="true" type="button" id="openResponseEdit" data-toggle="modal"
            data-target="#editResponseModal">
        </button>
        <!--edit response-->
        <div class="modal draggable fade bd-example-modal-lg" id="editResponseModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="">
                            <form #editeResponseForm="ngForm">
                                <div class="form-group">
                                    <label for="description">Description du question</label>
                                    <textarea type="text" name="description" required
                                        [(ngModel)]="editResponse.description" class="form-control"></textarea>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">image question </span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" name="profileImage"
                                            (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0])"
                                            class="custom-file-input">
                                        <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                                            <span [hidden]="fileName">Choisir fichier</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            id="closeEditResponseModalButton">Fermer</button>
                        <button type="button" (click)="onUpdateResponse()"
                            [disabled]="editeResponseForm.invalid || !isAdmin " class="btn btn-dark">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="refreshing">Loading...</span>
                            <span *ngIf="!refreshing">Modifier</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>