<div class="mb-1">
  <div class="btn-group ">
    <button type="button" class="btn btn-dark" (click)="UpdateProfileImage()">
      <i class="fa fa-plus"></i>&nbsp;<i class="fa-solid fa-image"></i>
    </button>
    <button type="button" class="btn btn-dark ml-1">
      <select class="custom-select custom-select-sm w-auto mr-1 form-control" [(ngModel)]="test" (click)="onckick(test)">
        <!-- <option [value]="null">Triez</option> -->
        <option *ngFor="let tr of trie" [ngValue]="tr.id">{{ tr?.name }}</option>
    </select>
    </button>
  </div>
</div>
<!--galery-->
<div class=" ml-3 animated fadeInRight">
  <div class="row">
    <div *ngFor="let im of mediaAlum | paginate : {itemsPerPage : 12, currentPage: pageAlumnigalerie}">
      <div class="file">
        <span class="corner"></span>
        <div class="image">
          <p-image src="{{im.photoUrl}}" alt="Image" width="190" [preview]="true">
          </p-image>
        </div>
        <div class="file-name">
          <span *ngIf="im.titre">{{im.titre}}</span>
          <br>
          <small>ajoutée: {{im.date | date:"dd-MM-yyyy"}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)=" pageAlumnigalerie = $event"></pagination-controls>

<!--end-->
      <form enctype="multipart/form-data" style="display:none;">
        <input type="file"
          (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0]); onNewMediaForum()"
         name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*" />
    </form>
